
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oxygen:wght@300;400;700&display=swap');


#board-container {
    text-align: center;
}

#board-input {
    width: 80%;
    height: 150px;
    margin: 10px auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tiempo-ejecucion,
#movimientos {
    margin-right: 10px;
}

.tablero2{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */ 
    padding: 20px;
    background-color: #152A38;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.Buttom{
    background-color: #29435C;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TitleText{
    color: #29435C;
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
}

.header1{
    min-width: 400px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 10px;
    cursor: default;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: 0%;
}

.celda{
    width: 30px;
    height: 30px;
    background-color: #29435C;
    border: 2px solid #152A38; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
}

.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
}

.car {
    width: 30px;
    height: 30px;
    background-color: #b6d626;
    border: 2px solid #152A38; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
    cursor: pointer;
}

.car_exit {
    width: 30px;
    height: 30px;
    background-color: #b6d626;
    border: 2px solid #03c0ce; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
    cursor: pointer;
}

.exit{
    width: 30px;
    height: 30px;
    background-color: #29435C;
    border: 1px solid #03c0ce; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
}

.target_exit {
    width: 30px;
    height: 30px;
    background-color: #9c1e1e;
    border: 2px solid #03c0ce; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
}

.target {
    width: 30px;
    height: 30px;
    background-color: #9c1e1e;
    border: 2px solid #152A38; /* Añadí solid para definir el tipo de borde */
    border-radius: 4px;
    margin: 0%;
}

.board-row {
    white-space: nowrap;
}

.selected {
    border: 2px solid rgb(0, 255, 8);
}
